header {
    background-color: $azul-principal;

    img {
        height: 48px;

        &:hover {
            transition: 0.5s ease;
            scale: 1.1;
        }
    }
}

.navbar-toggler {
    background-color: #35e6f34b;
}

.nav-link {
    color: white;
    border-bottom: 2px solid transparent;

    &:hover {
        transition: 0.5s ease;
        color: $rosa-principal;

        @include mq-lg {
            border-bottom: 2px solid $rosa-principal;
        }
    }
}